<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>黑马点评</title>
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/login.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div class="login-container sms-login">
    <div class="sms-header">
      <div class="sms-back" @click="goBack"><i class="el-icon-arrow-left"></i></div>
      <div class="sms-title">手机号登录</div>
      <div class="sms-back"></div>
    </div>
    <div class="sms-body">
      <p class="sms-hint">未注册手机号验证后将自动创建账户</p>
      <div class="sms-card">
        <el-input placeholder="请输入手机号" v-model="form.phone" maxlength="11" clearable>
          <i slot="prefix" class="el-input__icon el-icon-mobile-phone"></i>
        </el-input>
        <el-input class="sms-code" placeholder="请输入验证码" v-model="form.code" maxlength="6">
          <i slot="prefix" class="el-input__icon el-icon-message"></i>
          <el-button slot="append" class="sms-send" @click="sendCode" :disabled="!canSend">{{codeBtnMsg}}</el-button>
        </el-input>
        <el-checkbox class="sms-agree" v-model="agreed">
          我已阅读并同意
          <a href="javascript:void(0)" @click.stop>《用户协议》</a>
          和
          <a href="javascript:void(0)" @click.stop>《隐私政策》</a>
        </el-checkbox>
        <el-button class="sms-submit" @click="login" :loading="loggingIn">登录</el-button>
        <div class="sms-switch"><a href="/login2.html">密码登录</a></div>
      </div>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>
  const PHONE_REGEX = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;

  const app = new Vue({
    el: "#app",
    data: {
      agreed: false,
      sending: false,
      counting: false,
      loggingIn: false,
      codeBtnMsg: "发送验证码",
      timer: null,
      form: {
        phone: "",
        code: ""
      }
    },
    computed: {
      phoneValid() {
        return PHONE_REGEX.test(this.form.phone);
      },
      canSend() {
        return this.phoneValid && !this.counting && !this.sending;
      }
    },
    beforeDestroy() {
      this.clearCountdown();
    },
    methods: {
      login() {
        if (!this.agreed) {
          this.$message.error("请先确认阅读用户协议！");
          return;
        }
        if (!this.form.phone || !this.form.code) {
          this.$message.error("手机号和验证码不能为空！");
          return;
        }
        if (this.loggingIn) {
          return;
        }
        this.loggingIn = true;
        axios.post("/user/login", this.form)
          .then(({data}) => {
            if (data) {
              sessionStorage.setItem("token", data);
            }
            location.href = "/index.html";
          })
          .catch(err => {
            this.loggingIn = false;
            this.$message.error(err);
          });
      },
      goBack() {
        history.back();
      },
      sendCode() {
        if (!this.canSend) {
          return;
        }
        this.sending = true;
        axios.post("/user/code?phone=" + this.form.phone)
          .then(() => {
            this.sending = false;
            this.startCountdown();
          })
          .catch(err => {
            this.sending = false;
            this.$message.error(err);
          });
      },
      startCountdown() {
        this.clearCountdown();
        this.counting = true;
        let remain = 60;
        this.codeBtnMsg = remain + "秒后可重发";
        this.timer = setInterval(() => {
          remain--;
          if (remain <= 0) {
            this.clearCountdown();
            return;
          }
          this.codeBtnMsg = remain + "秒后可重发";
        }, 1000);
      },
      clearCountdown() {
        if (this.timer) {
          clearInterval(this.timer);
          this.timer = null;
        }
        this.counting = false;
        this.codeBtnMsg = "发送验证码";
      }
    }
  })
</script>
</body>
</html>
